<mat-toolbar color="primary">
    <mat-toolbar-row>
        <div class="container menu">
            <a routerLink="/" class="menu-item">Dashboard</a>
            <a routerLink="/profile/2" class="menu-item">Profile</a>
            <a routerLink="/schedule" class="menu-item">Schedule</a>
            <a routerLink="/events" class="menu-item">Events</a>
            <a routerLink="/books" class="menu-item">Books</a>
            <a routerLink="/settings" class="menu-item">Settings</a>
        </div>
    </mat-toolbar-row>
</mat-toolbar>