<ng-template [ngIf]="!isAuthenticated() && isRedirecting()">
  <form [formGroup]="signinForm" (ngSubmit)="onSignin()">
      <div class="form-wrapper">
        <mat-form-field>
          <input matInput type="email" placeholder="E-mail" id="email" formControlName="email">
          <mat-error *ngIf="signinForm.hasError('email', 'email') && !signinForm.hasError('required', 'email')">
            Please enter a valid email address
          </mat-error>
          <mat-error *ngIf="signinForm.hasError('required', 'email')">
            Email is <strong>required</strong>
          </mat-error>
        </mat-form-field>
        <mat-form-field>
          <input matInput type="password" placeholder="Password" id="password" formControlName="password">
          <mat-error *ngIf="signinForm.hasError('required', 'password')">
            Password is <strong>required</strong>
          </mat-error>
        </mat-form-field>
        <div class="button-row">
          <button mat-flat-button color="primary" type="submit" [disabled]="signinForm.invalid">Sign in</button>
        </div>
      </div>
    </form>
  </ng-template>