<ng-template [ngIf]="isAuthenticated() && uLevel() <= 1">

  <div class="block-content">

    <form class="schedule-wrapper" [formGroup]="weekForm" (ngSubmit)="onSubmit()" *ngIf="isAuthenticated()">

      <div class="content-toolbar">
        <mat-form-field class="content-toolbar-item">
          <input matInput [matDatepicker]="picker" placeholder="Jump to date" [formControl]=datePicker>
          <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
          <mat-datepicker #picker></mat-datepicker>
        </mat-form-field>
        <p>{{ weekHours }} working hours in this week</p>
        <div class="button-row content-toolbar-item">
          <div>
            <button mat-flat-button type="button" (click)="onCancel()">Cancel</button>
            <button mat-flat-button color="primary" type="submit" style="margin-left: 10px">Save</button>
          </div>
        </div>

      </div>

      <div *ngFor="let day of sched; let i = index" [class]="'schedule-day-block ' + 'schedule-day-block' + (i+1)"
        [ngClass]="{'chosen': i === chosenDay}">
        <div class="schedule-day-header">
          <h3 class="week-day">{{ monday.isoWeekday(i + 1).format("dddd") }}</h3>
          <h4 class="day">{{ monday.isoWeekday(i + 1).format("D MMM") }}.</h4>
        </div>

        <!-- HERE -->
        <br>
        <mat-form-field class="form-item timepicker">
          <input placeholder="Day duration" matInput [format]="24" min="00:00 am" max="8:00 am"
            [ngxTimepicker]="timepickerBreak" [formControlName]="'duration' + i">
          <ngx-material-timepicker #timepickerBreak [minutesGap]="30"></ngx-material-timepicker>
        </mat-form-field>

        <p>{{ day.hours }} hours</p>

      </div>

      <div class="change-week change-week-left">
        <mat-icon>chevron_left</mat-icon>
      </div>
      <div class="change-week change-week-right">
        <mat-icon>chevron_right</mat-icon>
      </div>
    </form>
  </div>

</ng-template>
