.contact-title
    grid-column: 2
    grid-row: 1
.skills-title
    grid-column: 3
    grid-row: 1
.contact-photo
    grid-column: 1
    grid-row: 1 / 3
.contact-content
    grid-column: 2
    grid-row: 2
.skills-content
    grid-column: 3
    grid-row: 2

.edit-button
    position: absolute
    top: 0
    right: 0

.profile-photo
    width: 100%
    border-radius: 5px

.type-name
    font-weight: bold
    color: gray
