<ng-template [ngIf]="isAuthenticated()">

  <div class="schedule-options content-toolbar">
    <div class="datepicker-wrapper content-toolbar-item">
      <div class="change-week change-week-left" (click)="changeWeek(false)">
        <mat-icon>chevron_left</mat-icon>
      </div>
      <mat-form-field>
        <input matInput [matDatepicker]="picker" placeholder="Jump to date" [formControl]="datePicker"
          (dateChange)="onDatepickerChange()">
        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
      </mat-form-field>
      <div class="change-week change-week-right" (click)="changeWeek(true)">
        <mat-icon>chevron_right</mat-icon>
      </div>
    </div>

    <div class="content-toolbar-item">
      <a mat-flat-button [color]="type == 'team' ? 'primary' : 'basic'"
        [routerLink]="'/schedule/team/' + year + '/' + week">Team</a>
      <a mat-flat-button [color]="type == 'room' ? 'primary' : 'basic'"
        [routerLink]="'/schedule/room/' + year + '/' + week">Room</a>
      <a mat-flat-button [color]="type == 'position' ? 'primary' : 'basic'"
        [routerLink]="'/schedule/position/' + year + '/' + week">Position</a>
    </div>
    <!-- <div class="content-toolbar-item">
      <span>Workers: 34 (39), 7:30 - 22:00</span>
    </div> -->
  </div>

  <br>

  <mat-accordion multi="true">

    <mat-expansion-panel class="tabbed" *ngFor="let sched of typedSched; let i = index" [expanded]="true">
      <mat-expansion-panel-header>
        <mat-panel-title>{{ sched.type }}</mat-panel-title>
        <mat-panel-description>
        </mat-panel-description>
      </mat-expansion-panel-header>

      <div class="schedule-container">

        <table mat-table [dataSource]="typedSched[i].users">

          <!-- Position Column -->
          <ng-container matColumnDef="pos">
            <th mat-header-cell *matHeaderCellDef> No. </th>
            <td mat-cell *matCellDef="let element; let j = index"> {{j + 1}} </td>
          </ng-container>

          <!-- Worker Column -->
          <ng-container matColumnDef="worker">
            <th mat-header-cell *matHeaderCellDef class="worker-name"> Worker </th>
            <td mat-cell *matCellDef="let element" class="worker-name">
              <a [routerLink]="'/profile/' + element.id + '/' + year + '/' + week"> {{element.name}} {{element.surname}}
              </a> <br class="non-mobile-view">
              <i class="sub-table-text non-mobile-view">{{element.tit1}}
                -
                {{element.tit2}} ({{element.duration}} of
                {{sched.hours}})</i>
            </td>
          </ng-container>

          <ng-container [matColumnDef]="day" *ngFor="let day of dayColumns; let k = index">
            <th mat-header-cell *matHeaderCellDef>
              <span class="non-mobile-view"> {{ monday.isoWeekday(k + 1).format("dddd") }} <br>
                {{ monday.isoWeekday(k + 1).format("D MMM") }}. </span>
              <span class="mobile-view"> {{ monday.isoWeekday(k + 1).format("ddd") }}. <br>
                {{ monday.isoWeekday(k + 1).format("D MM") }} </span></th>
            <td mat-cell *matCellDef="let element">
              <ng-template [ngIf]="element.schedule[k].workDay">
                {{element.schedule[k].in}} - {{element.schedule[k].out}} <br>
                <i class="sub-table-text">B: {{formatDuration(element.schedule[k].break)}} H:
                  {{element.schedule[k].duration}}
                  <span *ngIf="element.schedule[k].type === 'WFH'" matBadge="H" matBadgeOverlap="false"
                    matBadgePosition="above after"></span>
                </i>
              </ng-template>
              <ng-template [ngIf]="!element.schedule[k].workDay">
                {{element.schedule[k].type}}
              </ng-template>
            </td>
          </ng-container>

          <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        </table>


      </div>

    </mat-expansion-panel>

  </mat-accordion>

  <br>
</ng-template>
