@import "../profile-view/profile-view.component.sass"

$formWidth: 180px
$formMR: 10px

mat-form-field
    margin-right: $formMR
    width: $formWidth
    &.skills-chip-list
        min-width: 100%
        max-width: $formWidth + $formWidth + $formMR