<form [formGroup]="profileForm" (ngSubmit)="onSubmit()" *ngIf="isAuthenticated()">
  <div class="form-wrapper">
    <mat-form-field class="form-item birthday">
      <input matInput [matDatepicker]="datePicker" placeholder="Birthday" id="birthday" formControlName="birthday">
      <mat-datepicker-toggle matSuffix [for]="datePicker"></mat-datepicker-toggle>
      <mat-datepicker #datePicker></mat-datepicker>
    </mat-form-field>
    <mat-form-field class="form-item tel">
      <input matInput type="text" placeholder="Contact number" id="tel" formControlName="tel">
      <button mat-button matSuffix mat-icon-button *ngIf="profileForm.value.tel" aria-label="Clear"
        (click)="onClearInput('tel')">
        <mat-icon>close</mat-icon>
      </button>
    </mat-form-field>
    <mat-form-field class="form-item email">
      <input matInput type="text" placeholder="Email" id="email" formControlName="email">
      <button mat-button matSuffix mat-icon-button *ngIf="profileForm.value.email" aria-label="Clear"
        (click)="onClearInput('email', true)">
        <mat-icon>close</mat-icon>
      </button>
    </mat-form-field>
    <mat-form-field class="form-item university">
      <input matInput type="text" placeholder="University" id="university" formControlName="university">
      <button mat-button matSuffix mat-icon-button *ngIf="profileForm.value.university" aria-label="Clear"
        (click)="onClearInput('university')">
        <mat-icon>close</mat-icon>
      </button>
    </mat-form-field>
    <mat-form-field class="form-item faculty">
      <input matInput type="text" placeholder="Faculty" id="faculty" formControlName="faculty">
      <button mat-button matSuffix mat-icon-button *ngIf="profileForm.value.faculty" aria-label="Clear"
        (click)="onClearInput('faculty')">
        <mat-icon>close</mat-icon>
      </button>
    </mat-form-field>
    <mat-form-field class="form-item grade">
      <input matInput type="text" placeholder="Deegre / course" id="grade" formControlName="grade">
      <button mat-button matSuffix mat-icon-button *ngIf="profileForm.value.grade" aria-label="Clear"
        (click)="onClearInput('grade')">
        <mat-icon>close</mat-icon>
      </button>
    </mat-form-field>
    <mat-form-field class="form-item eduType">
      <mat-label>Education type</mat-label>
      <mat-select id="eduType" formControlName="eduType">
        <mat-option *ngFor="let eduType of sets.edutypes" [value]="eduType">
          {{eduType}}
        </mat-option>
      </mat-select>
    </mat-form-field>
    <mat-form-field class="form-item engLevel">
      <mat-label>English level</mat-label>
      <mat-select id="engLevel" formControlName="engLevel">
        <mat-option *ngFor="let engLevel of sets.englevels" [value]="engLevel">
          {{engLevel}}
        </mat-option>
      </mat-select>
    </mat-form-field>
    <mat-form-field class="form-item skills">
      <mat-chip-list #chipList>
        <mat-chip *ngFor="let skill of skills" [selectable]="chips.selectable" [removable]="chips.removable"
          (removed)="remove(skill)">
          {{skill}}
          <mat-icon matChipRemove *ngIf="chips.removable">cancel</mat-icon>
        </mat-chip>
        <input placeholder="Skills" [matChipInputFor]="chipList" [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
          [matChipInputAddOnBlur]="chips.addOnBlur" (matChipInputTokenEnd)="add($event)">
      </mat-chip-list>
    </mat-form-field>
    <mat-form-field class="form-item image">
      <input matInput type="text" placeholder="Image" id="image" formControlName="image">
      <button mat-button matSuffix mat-icon-button *ngIf="profileForm.value.image" aria-label="Clear"
        (click)="onClearInput('image')">
        <mat-icon>close</mat-icon>
      </button>
    </mat-form-field>
    <button class="form-item button" mat-flat-button (click)="onCancel()" color="warn">Cancel</button>
    <button class="form-item button" mat-flat-button type="submit" [disabled]="profileForm.invalid"
      color="primary">Save</button>
  </div>
</form>
