<ng-template [ngIf]="isAuthenticated() && uLevel() <= 1">

<a routerLink="/settings/users">users</a><br>
<a routerLink="/settings/edit/edutypes">edutypes</a><br>
<a routerLink="/settings/edit/englevels">englevels</a><br>
<a routerLink="/settings/edit/positions">positions</a><br>
<a routerLink="/settings/edit/rooms">rooms</a><br>
<a routerLink="/settings/edit/teams">teams</a><br>
<a routerLink="/settings/edit/bookgenres">bookgenres</a><br>
<a routerLink="/settings/edit/daytypes">daytypes</a><br>
<a routerLink="/settings/week/2019/20">Week</a><br>
<a routerLink="/settings/week-edit/2019/20">Week edit</a><br>

</ng-template>
