<mat-accordion>
    <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title>Users</mat-panel-title>
          <mat-panel-description>
            <span>Edit users</span>
          </mat-panel-description>
        </mat-expansion-panel-header>


        <div class="events-container mat-elevation-z8">
            <table mat-table [dataSource]="dataSource">
          
              <!-- ID Column -->
              <ng-container matColumnDef="id">
                <th mat-header-cell *matHeaderCellDef> ID. </th>
                <td mat-cell *matCellDef="let element"> {{element.id}} </td>
              </ng-container>
          
              <!-- Name Column -->
              <ng-container matColumnDef="name">
                <th mat-header-cell *matHeaderCellDef> Name </th>
                <td mat-cell *matCellDef="let element"><a href="#">
                    {{element.name}} {{element.surname}} 
                </a>
                  <a href="#" class="pencil-edit-button"><mat-icon>edit</mat-icon></a>
                </td>
              </ng-container>
          
              <!-- Team Column -->
              <ng-container matColumnDef="team">
                <th mat-header-cell *matHeaderCellDef> Surname </th>
                <td mat-cell *matCellDef="let element"> {{element.team}} </td>
              </ng-container>
          
              <!-- Position Column -->
              <ng-container matColumnDef="position">
                <th mat-header-cell *matHeaderCellDef> Position </th>
                <td mat-cell *matCellDef="let element"> {{element.position}} </td>
              </ng-container>
          
              <!-- Access level Column -->
              <ng-container matColumnDef="level">
                <th mat-header-cell *matHeaderCellDef> Access level </th>
                <td mat-cell *matCellDef="let element"> {{element.level}} </td>
              </ng-container>
              
          
              <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
              <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
            </table>
            <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
          </div>  
        
    
    </mat-expansion-panel>
    <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title>Opions</mat-panel-title>
          <mat-panel-description>
            <span>Edit option elements</span>
          </mat-panel-description>
        </mat-expansion-panel-header>

        <div class="options-edit-box">
          <h3>Book genres</h3>
          <mat-selection-list>
            <mat-list-option *ngFor="let genre of genres">
              {{genre}}
            </mat-list-option>
          </mat-selection-list>
          <mat-form-field>
            <input matInput placeholder="Name">
          </mat-form-field>
          <div class="button-box">
            <button mat-flat-button color="primary">Save</button>
            <button mat-flat-button color="accent">Add</button>
            <button mat-flat-button color="warn">Remove</button>
          </div>
        </div>
        <div class="options-edit-box">
          <h3>Teams</h3>
          <mat-selection-list>
            <mat-list-option disabled *ngFor="let team of teams">
              {{team}}
            </mat-list-option>
          </mat-selection-list>
        </div>
        <div class="options-edit-box">
          <h3>Rooms</h3>
          <mat-selection-list>
            <mat-list-option *ngFor="let room of rooms">
              {{room}}
            </mat-list-option>
          </mat-selection-list>
        </div>
        <div class="options-edit-box">
          <h3>Positions</h3>
          <mat-selection-list>
            <mat-list-option *ngFor="let position of positions">
              {{position}}
            </mat-list-option>
          </mat-selection-list>
        </div>
        <div class="options-edit-box">
          <h3>Education types</h3>
          <mat-selection-list>
            <mat-list-option *ngFor="let edu of edus">
              {{edu}}
            </mat-list-option>
          </mat-selection-list>
        </div>
        <div class="options-edit-box">
          <h3>English levels</h3>
          <mat-selection-list>
            <mat-list-option *ngFor="let eng of engs">
              {{eng}}
            </mat-list-option>
          </mat-selection-list>
        </div>
    
    </mat-expansion-panel>
</mat-accordion>